.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  & + .question { // se houver uma '.question' depois dela
    margin-top: 8px;
  }
  
  p {
    color: #29292e;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;
    
      img {
        width: 32px;
        height: 32px;
        border-radius: 50%; // para ficar totalmente arredondada
      }
    
      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;
      
      &.like-button { // referente ao botão de like pela vizualização do user
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px; // distanciamento entre os itens com display flex

        &.liked { // caso o botão tenha a classe 'liked' (ou seja, quer dizer que o usuário deu like):
          color: #835afd; 

          svg path { // caminho até a cor do svg
            stroke: #835afd; // mudando a cor do sgv
          }
        }

        &:hover {
          filter: brightness(0.7);
        }
      }
    }
  }

}

